.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }


  
  h1 {
    color: #333;
  }
  
  .GameContainer {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    width: 400px;
    margin: 0 auto;
  }
  
  .Cell {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
  }
  
  .snake {
    background-color: #333;
  }
  
  .food {
    background-color: red;
  }
  
  .btn{
    margin-top: 20px;
    width: 410px;
    height: 40px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right,#e79b0d,#13ebe7,#e8d60d);
    border: 0px;
    border-radius: 8px;
    color: #363c58;
    font-size: 30px;
    cursor: pointer;
    font-weight: 600;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 410px;
    margin-top: 6px;
}

.btn1{
    flex-grow: 1;
    height: 45px;
    background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
    border-top: 0px;
    border-bottom: 0;
    border-left: 0;
    cursor: pointer;
    border-right: 3px #1413139d;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #eb1366c7;
    font-size: 30px;
    padding-top: auto;
    padding-bottom: auto;
}

.btn2{
    flex-grow: 1;
    height: 45px;
    background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
    border-top: 0px;
    border-bottom: 0;
    border-left: 0;
    cursor: pointer;
    border-right: 3px #1413139d;
    color: #eb1366c7;
    font-size: 30px;
    padding-top: auto;
    padding-bottom: auto;
}

.btn3{
    flex-grow: 1;
    height: 45px;
    background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
    border-top: 0px;
    border-bottom: 0;
    border-left: 0;
    border-right: 3px #1413139d;
    color: #eb1366c7;
    font-size: 30px;
    cursor: pointer;
    padding-top: auto;
    padding-bottom: auto;
}

.btn4{
    flex-grow: 1;
    height: 45px;
    background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
    border-top: 0px;
    border-bottom: 0;
    border-left: 0;
    border-right: 3px #1413139d;
    color: #eb1366c7;
    font-size: 30px;
    cursor: pointer;
    padding-top: auto;
    padding-bottom: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #8f3191c6;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 5px;
}

@media (max-width:572px){
    .App {
        text-align: center;
        font-family: 'Arial', sans-serif;
      }
    
    
      
      h1 {
        color: #333;
      }
      
      .GameContainer {
        display: grid;
        grid-template-columns: repeat(20, 16px);
        width: 90%;
        margin: 0 auto;

      }
      
      .Cell {
        width: 16px;
        height: 16px;
        border: 1px solid #000;
      }
      
      .snake {
        background-color: #333;
      }
      
      .food {
        background-color: red;
      }
      
      .btn{
        margin-top: 20px;
        width: 90%;
        height: 40px;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-image: linear-gradient(to right,#e79b0d,#13ebe7,#e8d60d);
        border: 0px;
        border-radius: 8px;
        color: #363c58;
        font-size: 30px;
        cursor: pointer;
        font-weight: 600;
        margin-left: -8px;
    }
    
    .buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 6px;
        margin-left: -8px;
    }
    
    .btn1{
        flex-grow: 1;
        height: 50px;
        background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
        border-top: 0px;
        border-bottom: 0;
        border-left: 0;
        cursor: pointer;
        border-right: 3px #1413139d;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        color: #eb1366c7;
        font-size: 30px;
        padding-top: auto;
        padding-bottom: auto;
    }
    
    .btn2{
        flex-grow: 1;
        height: 50px;
        background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
        border-top: 0px;
        border-bottom: 0;
        border-left: 0;
        cursor: pointer;
        border-right: 3px #1413139d;
        color: #eb1366c7;
        font-size: 30px;
        padding-top: auto;
        padding-bottom: auto;
    }
    
    .btn3{
        flex-grow: 1;
        height: 50px;
        background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
        border-top: 0px;
        border-bottom: 0;
        border-left: 0;
        border-right: 3px #1413139d;
        color: #eb1366c7;
        font-size: 30px;
        cursor: pointer;
        padding-top: auto;
        padding-bottom: auto;
    }
    
    .btn4{
        flex-grow: 1;
        height: 50px;
        background-image: linear-gradient(to right,#c3ca3f,#ffffffbe,#ca8e3f);
        border-top: 0px;
        border-bottom: 0;
        border-left: 0;
        border-right: 3px #1413139d;
        color: #eb1366c7;
        font-size: 30px;
        cursor: pointer;
        padding-top: auto;
        padding-bottom: auto;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    .para{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #8f3191c6;
        z-index: 1;
        position: fixed;
        bottom: -15px;
        left: 40%;
    }
}